# Standards: 0.11
---

# 1.1.17 Ensure noexec option set on /dev/shm partition

- name: 1.1.17 - Ensure noexec option set on /dev/shm partition
  mount:
    name: "{{ item.mount }}"
    state: mounted
    fstype: "{{ item.fstype }}"
    src: "{{ item.device }}"
    opts: "{{ item.options.split(',') | union(['noexec']) | join(',') }}"
  when: item.mount == '/dev/shm'
  with_items: "{{ ansible_mounts }}"
  tags:
    - level-1
    - section-1
    - "1.1.17"
    - scored

