# Standards: 0.11
---

# 2.2.15 Ensure mail transfer agent is configured for local-only mode

- name: 2.2.15 - Check if mail transfer agent is configured for local-only mode
  shell: "netstat -an | grep LIST | grep ':25[[:space:]]'"
  register: mta_2_2_15
  ignore_errors: true
  tags:
    - level-1
    - "2.2.15"
    - scored

- name: 2.2.15 - Ensure mail transfer agent is configured for local-only mode
  fail:
    msg: "Detected mail transfer agent listening on non-loopback address."
  when:
    - mta_2_2_15.stdout_lines is defined and (mta_2_2_15.stdout_lines|count > 1 or '127.0.0.1:25' not in mta_2_2_15.stdout)
    - fail_on_manual_remediation_actions
  tags:
    - level-1
    - "2.2.15"
    - scored

- name: 2.2.15 - Ensure mail transfer agent is configured for local-only mode
  debug:
    msg: "*** ACTION REQUIRED *** Detected mail transfer agent listening on non-loopback address."
  when:
    - mta_2_2_15.stdout_lines is defined and (mta_2_2_15.stdout_lines|count > 1 or '127.0.0.1:25' not in mta_2_2_15.stdout)
    - not fail_on_manual_remediation_actions
  tags:
    - level-1
    - "2.2.15"
    - scored

