# Standards: 0.11
---

# 2.2.14 Ensure SNMP Server is not enabled

- name: 2.2.14 - Ensure SNMP Server is not enabled
  service:
    name: "snmpd"
    enabled: false
    state: stopped
  ignore_errors: true
  tags:
    - level-1
    - "2.2.14"
    - scored
