# Standards: 0.11
---

# 3.2.8 Ensure TCP SYN Cookies is enabled

- name: 3.2.8 - Ensure TCP SYN Cookies is enabled
  sysctl:
    ignoreerrors: yes
    name: "net.ipv4.tcp_syncookies"
    value: 1
    state: present
  tags:
    - level-1
    - section-3
    - "3.2.8"
    - scored

- name: 3.2.8 - Ensure TCP SYN Cookies is enabled by active kernel parameters
  command: "{{ item }}"
  with_items:
    - "sysctl -w net.ipv4.tcp_syncookies=1"
    - "sysctl -w net.ipv4.route.flush=1"
  tags:
    - level-1
    - section-3
    - "3.2.8"
    - scored
