# Standards: 0.11
---

# 3.5.4 - Ensure TIPC is disabled

- name: 3.5.4 - Check if CIS modprobe configuration file exists
  stat:
    path: "{{ cis_modprobe_conf_filename }}"
  register: modprobe_3_5_4
  tags:
    - level-1
    - section-3
    - "3.5.4"
    - not-scored

- name: 3.5.4 - Ensure TIPC is disabled
  copy:
    dest: "{{ cis_modprobe_conf_filename }}"
    content: "install tipc /bin/true\n"
  when: modprobe_3_5_4.stat.exists is not defined or not modprobe_3_5_4.stat.exists
  tags:
    - level-1
    - section-3
    - "3.5.4"
    - not-scored

- name: 3.5.4 - Ensure TIPC is disabled
  lineinfile:
    dest: "{{ cis_modprobe_conf_filename }}"
    regexp: "^install tipc\\s+"
    line: "install tipc /bin/true"
  when: modprobe_3_5_4.stat.exists is defined and modprobe_3_5_4.stat.exists
  tags:
    - level-1
    - section-3
    - "3.5.4"
    - not-scored
