# Standards: 0.11
---

# 4.2.1.2 Ensure logging is configured

- name: 4.2.1.2 - Ensure logging is configured
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.2.1.2"
    - not-scored
    - todo
